.post {
    margin-bottom: 100px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.post-title {
    font-size: 25px;
    text-decoration: none;
    color: #383838;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.2em;
    margin-bottom: 30px;
    width: 100%;
    text-transform: uppercase;
}

.post-content {
  margin-bottom: 45px;
  clear: both;
  font-size: 18px;
  line-height: 1.6;
  text-align: left;
  font-weight: normal;
  color: rgb(51, 51, 51);
}
